*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vh;
  height: 100%;
  position: relative;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  width: 100vw;
  display: grid;
}
#shuffle{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: -.1rem;
  cursor: pointer;
  background-color: blue;
  aspect-ratio: 2 / 2;
  font-size: 1.4rem;
  width: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}